<% for column in Project.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @project.send(column.name) %>
</p>
<% end %>

<%= link_to '±à¼­', :action => 'edit', :id => @project %> |
<%= link_to '·µ»Ø', :action => 'list' %>
