
<% form_tag :action => 'update', :id => @logfilter do %>
  <%= render :partial => 'form' %>
<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/logfilter/list");  
</script>
