<% for column in Logfilter.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @logfilter.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @logfilter %> |
<%= link_to 'Back', :action => 'list' %>
