<% for column in Visit.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @visit.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @visit %> |
<%= link_to 'Back', :action => 'list' %>
