
<% form_tag :action => 'update', :id => @projectprogress do %>
  <%= render :partial => 'form' %>
<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/projectprogress/list/<%=params[:id]%>");  
</script>
