<h1>Editing dic_louhao</h1>

<% form_tag :action => 'update', :id => @dic_louhao do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @dic_louhao %> |
<%= link_to 'Back', :action => 'list' %>
