

<% form_remote_tag :update=>"lh_detail", :url=>{:controller=>"dic_louhao", :action => 'create', :id=>params[:id]} do %>
  <%= render :partial => 'form' %>
  <input type="submit" value="±£´æ">
<% end %>

