<%= error_messages_for 'fileimage' %>

<!--[form:fileimage]-->
<p><label for="fileimage_desc">ร่ส๖</label><br/>
<%= text_field 'fileimage', 'desc'  %></p>

<p><label for="fileimage_path">ักิ๑ฮฤผþ</label><br/>
<%= file_column_field 'fileimage', 'path'  %></p>
<!--[eoform:fileimage]-->

