<%  form_tag({:action => 'create'},{:enctype=>"multipart/form-data"}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "ÉÏ´«" %>
<%=  image_wide_button '·µ»Ø', "/fileimage/list" %>
<% end %>

