<% for column in Fileimage.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fileimage.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fileimage %> |
<%= link_to 'Back', :action => 'list' %>
