<script>
    alert('111');
    <% if !@title || @title.size == 0 || @title == "301 Moved Permanently"%>
        $("#title_notice").html("获得名称失败"); 
    <% else %>
        $("#<%=params[:field]%>").val("<%=@title%>");
        <% if @logo%>
            $("#weburl_logo").val("<%=@logo%>");
        <% end %>
    <% end %>
</script>