
<%= start_form_tag :action => 'update', :id=>@sfcj%>
<%= @html %>
  <input onclick="javascript:return submit_webtable('table_SFYW', this.form)" value="±£´æ" type="submit" />
  
<%= end_form_tag %>

<script>
var t = new WebTable($('table_SFYW'));
</script>


<script>
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/sfcj/list");  
</script>