<%= error_messages_for 'software' %>

<!--[form:software]-->
<p><label for="software_name">系统名称</label><br/>
<%= text_field 'software', 'name'  %></p>

<p><label for="software_name">系统版本</label><br/>
<%= text_field 'software', 'version'  %></p>

<p><label for="software_leader">负责人</label><br/>
<%= text_field 'software', 'leader'  %></p>

<p><label for="software_desc">系统描述</label><br/>
<%= text_area 'software', 'desc'  %></p>
<!--[eoform:software]-->

