<% for column in Software.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @software.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @software %> |
<%= link_to 'Back', :action => 'list' %>
