<% form_tag({:action => 'update', :id=>@software_bug}, {:multipart => true}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '±£´æ' %>
<%= image_button '·µ»Ø', '/software_bug/list' %>
<% end %>