<% form_tag({:action => 'create', :id=>params[:id]}, {:multipart => true}) do %>
  <%= render :partial => 'form' %>
<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/software_bug/list/<%=params[:id]%>");  
</script>