<% for column in Remarks.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @remarks.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @remarks %> |
<%= link_to 'Back', :action => 'list' %>
