<h1>Editing product_batch</h1>

<% form_tag :action => 'update', :id => @product_batch do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @product_batch %> |
<%= link_to 'Back', :action => 'list' %>
