div.pagination {
padding: 3px;
margin: 3px;
}

div.pagination a {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #FF00FF;

text-decoration: none; /* no underline */
color: #000099;
}
div.pagination a:hover, div.pagination a:active {
border: 1px solid #FF00FF;

color: #000;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #000099;

font-weight: bold;
background-color: #FF00FF;
color: #FFF;
}
div.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #EEE;

color: #DDD;
}


html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body {
    height: auto;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    BACKGROUND-COLOR: #F4C8FF;
}

table{
    font-size: 12px;
    BORDER-COLLAPSE: collapse;
}

table a{color: navy; text-decoration:none;}
table a:hover{color: #4040F0; text-decoration:none;}

.exebar a { color: black; text-decoration:none;}
.exebar a:hover { color: gold; text-decoration:none;}

#header {
    background-color:#CCCCFF;
}

.exebar{

        background: #ccc url(/img/table_head_pink.png) repeat-x;
}

.notice {
    /*
    * A status message for the user.  There should only be one of these as it
    * is meant to be displayed prominently
    */
    position: absolute;
    top: -10px;
    left: 400px;
    margin: 13px;
    padding: 10px;
    background: #EED680;
    border: 1px #0000ba solid;
}

.notice2 {
    /*
    * A status message for the user.  There should only be one of these as it
    * is meant to be displayed prominently
    */
    position: absolute;
    top: -10px;
    left: 400px;
    margin: 14px;
    padding: 10px;
    overflow:		hidden
}

.colordiv {
    /*
    * A status message for the user.  There should only be one of these as it
    * is meant to be displayed prominently
    */
    margin: -1px;
    padding: 5px;
    border: 1px #0000ba solid;
    background: #CCFF99;
   
}

.whitespan
{
    color:black;
}

.colorspan
{
    background-color:#FFB9FF;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#FFE1FF;
	border:			1px solid;
	border-color:	rgb(120,172,255);
	border-left:	0;
	border-bottom:	0;
	border-top:		0;

	cursor:			hand;
	cursor:			pointer;

	z-index:		1;
	position:		relative;
	top:			0;
        
}

.topic
{
    padding: 10px;
    background: #ccc url(/images/default-bg.gif) repeat-x;
}

.headtr
{
    COLOR: midnightblue;
    BACKGROUND-COLOR: #c4c9e1
   
}

table.clsContentTable
{
    font-size: 12px;
    BORDER-COLLAPSE: collapse;    
}

TR.clsTrHeader
{
    COLOR: black;
    background: #ccc url(/img/table_head_pink.png) repeat-x;
}

TR.TrDark
{
    BACKGROUND-COLOR: white
}

TR.TrLight
{
   
    BACKGROUND-COLOR: #FFE1FF
}

TR.TrSelected
{
    
    background-image: url(/img/selected_row.gif); 
}


TR.TrOver
{
    BACKGROUND-COLOR: #FFFDD7
}

.clsTreeDiv
{
    BORDER-RIGHT: thin groove;
    BORDER-TOP: thin groove;
    OVERFLOW: auto;
    BORDER-LEFT: thin groove;
    WIDTH: 100%;
    BORDER-BOTTOM: thin groove;
    HEIGHT: 100%
}

.clsLogo
{
    MARGIN: 0px;
    WIDTH: 100%;
    HEIGHT: 4px;
    BACKGROUND-COLOR: #EB95FF
}

.color{
        color : #EB95FF
}

.logo
{
    background-image: url(/img/Logo_Pink.gif); 
}

.logotitle
{
    background-image: url(/img/Logotitle_Pink.gif); 
}

/*样式class*/
  .dragTable{
    font-size:12px;
    border-top:1px solid #3366cc;
    margin-bottom: 10px;
    width:100%;
    background-color:#FFFFFF;
  }
  .dragTR{
    cursor:move;/*控制当鼠标移动到该行上时显示的样式*/
    color:#7787cc;
    background-color:#FFC8F0;
    font-size:16px;
    font-family:"宋体";
    font-weight:bold;
    letter-spacing:1px;
  }
.article p
{
    font-size: 13px;
    line-height: 26px;
    font-family: '宋体';
    margin: 10px 0px 10px 0px;
}
