<%= error_messages_for 'knowledge_type' %>

<!--[form:knowledge_type]-->
<p><label for="knowledge_type_name">Ãû³Æ</label><br/>
<%= text_field 'knowledge_type', 'name'  %></p>

<!--[eoform:knowledge_type]-->

