<% for column in DicDizhi.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @dic_dizhi.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @dic_dizhi %> |
<%= link_to 'Back', :action => 'list' %>
