<% for column in Houselog.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @houselog.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @houselog %> |
<%= link_to 'Back', :action => 'list' %>
