
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "±£´æ" %>
<% end %>

<script>
  add_tab_button("/img/iconBack.png", "·µ»Ø", "javascript:history.back()");
</script>