编号:<%=@house.id%>, <%=@house.quyu %> <%=@house.xq %> 录入人:<%=h @house.inputer%>

<% form_tag :action => 'show', :id=>params[:id] do %>
  查看密码:<%= password_field_tag 'password' %>
  <%= submit_tag "提交" %>
<% end %>

<script>
  add_tab_button("/img/iconBack.png", "返回", "javascript:history.back()");
</script>