<%= error_messages_for 'voteoption' %>

<!--[form:voteoption]-->
<p><label for="voteoption_name">Ãû³Æ</label><br/>
<%= text_field 'voteoption', 'name'  %></p>

<%= hidden_field 'voteoption', 'vote_id'  %>
<!--[eoform:voteoption]-->

