<% for column in Voteoption.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @voteoption.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @voteoption %> |
<%= link_to 'Back', :action => 'list' %>
