
<% form_tag({:action => 'update', :id => @email}, :multipart => true) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '±£´æ' %>
   <%=  image_wide_button '·µ»Ø', "/email/list" %>
<% end %>

