<table border="1" cellpadding="2" cellspacing="0" bordercolor="#999999" width=100%>
  <tr class="exebar">
    <th width=70%>姓名</th>
    <th>已读</th>
  </tr>
  <% index = 1 %>
  <% for username in @email.recv.split(',') %>
    <%=ColorRow(index)%>
    <% index += 1 %>
    <td><%= username%></td>
    <% if @email.readusers.collect{ |u| u.truename }.include?(username) %>
      <td>已读</td>
    <% else %>
      <td></td>
    <% end %>
    </tr>
  <% end %>
</table>