<%= error_messages_for 'picture' %>

<!--[form:picture]-->
<p><label for="picture_desc">ร่ส๖</label><br/>
<%= text_field 'picture', 'desc'  %></p>

<p><label for="picture_path">ยทพถ</label><br/>
<%= file_column_field 'picture', 'path'  %></p>
<!--[eoform:picture]-->

