<h1>Editing product_export</h1>

<% form_tag :action => 'update', :id => @product_export do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @product_export %> |
<%= link_to 'Back', :action => 'list' %>
