
<%= start_form_tag :action => 'update', :id => @ytwg_news %>
  <%= render :partial => 'form' %>
  <%= submit_tag '保存' %>  
<%= end_form_tag %>

<%= link_to '删除', { :action => 'destroyfromedit', :id => @ytwg_news }, :confirm => '您确定删除本记录吗?', :post => true %>|
<%= link_to '返回', :action => 'list' %>
