
<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/ytwg_news/list");  
</script>