<%= error_messages_for 'ytwg_eventlog' %>

<!--[form:ytwg_eventlog]-->
<p><label for="ytwg_eventlog_time_occured">Time occured</label><br/>
<%= datetime_select 'ytwg_eventlog', 'time_occured'  %></p>

<p><label for="ytwg_eventlog_username">Username</label><br/>
<%= text_field 'ytwg_eventlog', 'username'  %></p>

<p><label for="ytwg_eventlog_description">Description</label><br/>
<%= text_field 'ytwg_eventlog', 'description'  %></p>
<!--[eoform:ytwg_eventlog]-->

