<h1>Editing ytwg_eventlog</h1>

<% form_tag :action => 'update', :id => @ytwg_eventlog do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @ytwg_eventlog %> |
<%= link_to 'Back', :action => 'list' %>
