<% for column in YtwgFunction.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytwg_function.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytwg_function %> |
<%= link_to 'Back', :action => 'list' %>
