
<%= start_form_tag({:action => 'create', :id=>params[:id]}, :multipart => true) %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>


<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/document/list/<%=params[:id]%>");  
</script>