<% for column in YtwgWorkflow.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytwg_workflow.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytwg_workflow %> |
<%= link_to 'Back', :action => 'list' %>
