<br>
<%= start_form_tag({:action => 'restorebak'}, {:enctype=>"multipart/form-data"}) %>
选择上传的数据文件：<%= file_field_tag 'data'  %>
<%= end_form_tag %>

<script>
    add_submit("恢复", "/img/iconReply.png");  
</script>