<% for column in Linkman.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @linkman.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @linkman %> |
<%= link_to 'Back', :action => 'list' %>
