<%= error_messages_for 'product_log' %>

<!--[form:product_log]-->
<p><label for="product_log_text">Text</label><br/>
<%= text_field 'product_log', 'text'  %></p>

<p><label for="product_log_dealer">Dealer</label><br/>
<%= text_field 'product_log', 'dealer'  %></p>

<p><label for="product_log_dealtime">Dealtime</label><br/>
<%= datetime_select 'product_log', 'dealtime'  %></p>
<!--[eoform:product_log]-->

