<% for column in DicContract.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @dic_contract.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @dic_contract %> |
<%= link_to 'Back', :action => 'list' %>
