<%  form_tag({:action => 'update', :id=>@ytwg_report},{:enctype=>"multipart/form-data"}) do %>
  <%= render :partial => 'form' %>

<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/ytwg_report/list");  
</script>