<%= error_messages_for 'photo' %>

<!--[form:photo]-->
<p><label for="photo_path">ักิ๑ฮฤผþ</label><br/>
<%= file_field 'photo', 'path'  %></p>

<p><label for="photo_desc">ร่ส๖</label><br/>
<%= text_field 'photo', 'desc'  %></p>



<!--[eoform:photo]-->

