<%= error_messages_for 'filestock' %>

<!--[form:filestock]-->
<p><label for="filestock_path">文件路径:</label>
<%= file_column_field 'filestock', 'path' %><br>
</p>

<p><label for="filestock_desc">文件描述:</label>
<%= text_field 'filestock', 'desc'  %></p>
<!--[eoform:filestock]-->

