<% form_tag({:action => 'create'}, :multipart => true)do %>
  <%= render :partial => 'form' %>
<% end %>


<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/filestock/list");  
</script>