<% form_tag({:action => 'create', :id=>params[:id]}, :multipart => true)do %>
  <%= render :partial => 'form' %>

<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/knowledge/list/<%=params[:id]%>");  
</script>