<%@title = '编辑主题'%>
<%= start_form_tag :action => 'update', :id => @topic %>
  <%= render :partial => 'form' %>
  
<%= end_form_tag %>



<script>
  add_submit("保存");
  add_tab_button("/img/iconBack.png", "返回", "/topic/list");  
</script>
