<%= error_messages_for 'ytwg_template' %>

<!--[form:ytwg_template]-->
<p>
<label for="ytwg_template_parentid">选择上传文件<%= file_field 'ytwg_template', 'content'  %></label>
</p>
<p>
  <%= check_box_tag "create_table", "1", false%>自动创建表
</p>

<!--[eoform:ytwg_template]-->

