<%= start_form_tag({:action => 'create'}, {:enctype=>"multipart/form-data"}) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "´´½¨" %>
<%= end_form_tag %>

<%= link_to '·µ»Ø', :action => 'list' %>
