<% for column in YtwgTemplate.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytwg_template.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytwg_template %> |
<%= link_to 'Back', :action => 'list' %>
