<h1>Editing sfcj_gj</h1>

<% form_tag :action => 'update', :id => @sfcj_gj do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @sfcj_gj %> |
<%= link_to 'Back', :action => 'list' %>
