<%= error_messages_for 'product' %>

<!--[form:product]-->
<p><label for="product_barcode">Barcode</label><br/>
<%= text_field 'product', 'barcode'  %></p>

<p><label for="product_desc">Desc</label><br/>
<%= text_field 'product', 'desc'  %></p>
<!--[eoform:product]-->

