<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>网页收藏专家 | 网络收藏夹</title>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'myurl' %>
</head>
<body>

<div id="main">
    <%= render :partial=>"/share/top"%>
    
    <br/>
    <% round_div "100%" do%>
    <% if flash[:notice] %>
     <div id='flash' style="text-align:center">
        <span><font color=red><%= flash[:notice] %></font></span>
     </div>   
     <script>
        setTimeout("jQuery('#flash').hide(500)", 2500);
     </script>
    <% end %>

        <%= yield  %>
    <% end %>
    
    <div id="foot">
        Copyright 2009 www.myurl.com All Rights Reserved.<br/>
                    
    </div>
</div>

<div style="display:none">
<script type="text/javascript" src="http://js.tongji.linezing.com/1274313/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/1274313/tongji.gif"/></a></noscript>
</div>

</body>
</html>
