<% for column in YtwgRight.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytwg_right.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytwg_right %> |
<%= link_to 'Back', :action => 'list' %>
