<% for column in Labels.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @labels.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @labels %> |
<%= link_to 'Back', :action => 'list' %>
