

<% form_tag :action => 'update', :id => @product_cata do %>
  <%= render :partial => 'form' %>
<% end %>

<script>
  add_submit("±£´æ");
  add_tab_button("/img/iconBack.png", "·µ»Ø", "/product_cata/list");  
</script>