<% for column in ProductCata.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @product_cata.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @product_cata %> |
<%= link_to 'Back', :action => 'list' %>
