<%= error_messages_for 'ytwg_group' %>

<!--[form:ytwg_group]-->
<p><label for="ytwg_group_name">ร๛ณฦ</label><br/>
<%= text_field 'ytwg_group', 'name'  %></p>

<p><label for="ytwg_group_description">ร่ส๖</label><br/>
<%= text_field 'ytwg_group', 'description'  %></p>
<!--[eoform:ytwg_group]-->

