<% for column in YtwgGroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytwg_group.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytwg_group %> |
<%= link_to 'Back', :action => 'list' %>
