<h1>Editing kaixinuser</h1>

<% form_for(@kaixinuser) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @kaixinuser %> |
<%= link_to 'Back', kaixinusers_path %>