<%= error_messages_for 'hot' %>

<!--[form:hot]-->
<p><label for="hot_address">网址：</label>
<%= text_field 'hot', 'address',:class=>"biginput3"  %></p>

<p><label for="hot_name">名称：</label>
<%= text_field 'hot', 'name',:class=>"biginput3"  %></p>
<!--[eoform:hot]-->

