<% for column in Hot.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @hot.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @hot %> |
<%= link_to 'Back', :action => 'list' %>
