<%= error_messages_for 'ytapl_right' %>

<!--[form:ytapl_right]-->
<p><label for="ytapl_right_name">名称：</label>
<%= text_field 'ytapl_right', 'name'  %></p>

<p><label for="ytapl_right_desc">描述：</label>
<%= text_field 'ytapl_right', 'desc', :size=>70  %></p>
<!--[eoform:ytapl_right]-->

