<% for column in YtaplRight.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @ytapl_right.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @ytapl_right %> |
<%= link_to 'Back', :action => 'list' %>
