<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>模板查询结果</title>  
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'xtree' %>
  <%= stylesheet_link_tag 'tab.webfx.css' %>
  <%= javascript_include_tag 'tabpane' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'fckeditor' %>
  <%= javascript_include_tag 'xtree', 'xmlextras', 'xloadtree', 'xradiotree', 'xradioloadtree', 'xcheckboxtree', 'xcheckboxloadtree', 'function'  %>
 
<%= @style %>
 
</head>
<body>

<br>
    <div align="center">
    <%=start_form_tag :action=>"history_to_excel" %>
        <input type="hidden" name="id" value='<%=@resultid%>'/>
        <%=submit_tag "导出Excel"%>
    <%= end_form_tag %>
    <%=@tablehtml%>
    </div>
</body>
</html>