<% for column in Joke.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @joke.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @joke %> |
<%= link_to 'Back', :action => 'list' %>
