<% for column in Weburls.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @weburls.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @weburls %> |
<%= link_to 'Back', :action => 'list' %>
