<%= error_messages_for 'product_attr' %>

<!--[form:product_attr]-->
<p><label for="product_attr_interface">Interface</label><br/>
<%= text_area 'product_attr', 'interface'  %></p>
<!--[eoform:product_attr]-->

