<h1>±à¼­ main</h1>

<%= start_form_tag :action => 'update', :id => @main %>
  <%= render :partial => 'form' %>
  <%= submit_tag '±£´æ' %>
  
<%= end_form_tag %>

<%= link_to 'É¾³ý', { :action => 'destroyfromedit', :id => @main }, :confirm => 'ÄúÈ·¶¨É¾³ý±¾¼ÇÂ¼Âð?', :post => true %>|
<%= link_to '·µ»Ø', :action => 'list' %>
