<% for column in Main.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @main.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @main %> |
<%= link_to 'Back', :action => 'list' %>
