<table width=100% border=0>
       <tr height=26 class="clsTrHeader" >
         <%=render(:partial => '/share/subtitle', :locals=>{:title1=>"任务管理->#{session[:task].name}", :title2=>"修改任务时间"})%>
       </tr>
</table>

<%= start_form_tag :action => 'update_tasktime', :id=>@tasktime %>
  <%= render :partial => 'tasktime_form' %>
  <%= submit_tag "保存" %>
<%= end_form_tag %>

<table><tr><td>
<%= link_to '返回', :action => 'tasktime_manager' %>
</td></tr></table>