<%= error_messages_for 'ytwg_news' %>

<!--[form:ytwg_news]-->
<table height=80% width = 90% >

<tr height=20>
 <td> БъЬтЃК<%= text_field 'ytwg_news', 'title', :size=>80  %></td>
</tr>

<tr>
<td>
<%= fckeditor_textarea("ytwg_news", "content",  :toolbarSet => 'Basic',:width => '100%', :height => '100%') %>
</td>
</tr>

</table>
<!--[eoform:ytwg_news]-->

