<br>
<table width=90% height=90%>
<tr height=10><td align='center' valign='top'><h3><%=@ytwg_news.title%></h3>(<%=YtwgUser.find(@ytwg_news.user_id).truename%>)</td></tr>
<tr><td valign='top'><%=@ytwg_news.content%></td></tr>
</table>
<%=  image_wide_button '·µ»Ø', "/notice1/list" %>

