<% for column in Phonecontract.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @phonecontract.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @phonecontract %> |
<%= link_to 'Back', :action => 'list' %>
