<% for column in Daka.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @daka.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @daka %> |
<%= link_to 'Back', :action => 'list' %>
