<% start_form_tag :action => 'update' %>
<%= hidden_field_tag("current_dir", params[:current_dir]) %>
<%= hidden_field_tag("name", params[:name]) %>

<table>
    <tr><td><%= submit_tag '保存' %></td></tr>
    <tr><td>
    <%=text_area_tag "data", @data, {:cols=>120, :rows=>33}%>
    </td></tr>
</table>

<% end_form_tag %>