<%= start_form_tag({:action => 'update', :id=> @role}, {:target=>:_parent,:name=>"thisForm"}) %>
    <%= render :partial => 'form', :locals=>{:privilege => @privilege}  %>
<%= end_form_tag %>

<script language="javascript">
  thisForm["role[name]"].focus();
</script>
